*.mp4 filter=lfs diff=lfs merge=lfs -text
your_large_file.ext filter=lfs diff=lfs merge=lfs -text
videos/insertion2.mp4 filter=lfs diff=lfs merge=lfs -text
videos/screw_insertion.mp4 filter=lfs diff=lfs merge=lfs -text
videos/vine_fromscratch.mp4 filter=lfs diff=lfs merge=lfs -text
videos/insertion.mp4 filter=lfs diff=lfs merge=lfs -text
